# Logs
client/logs
client/*.log

# Runtime data
client/pids
client/*.pid
client/*.seed

# Coverage directory used by tools like istanbul
client/coverage
client/.eslintcache

# Dependency directory
client/node_modules

# OSX
client/.DS_Store

client/release/app/dist
client/release/build
client/.erb/dll

client/.idea
client/npm-debug.log.*
client/*.css.d.ts
client/*.sass.d.ts
client/*.scss.d.ts

# Python server
server/.venv
server/__pycache__/
server/**/*.pyc
server/.mypy_cache/
server/.pytest_cache/